/*
 * SPDX-License-Identifier: MIT
 */

// 调整鼠标移动的最大速度（默认值通常是 600）
 #define ZMK_POINTING_DEFAULT_MOVE_VAL 1000

// 调整滚轮滚动的最大速度（默认值通常是 10）
 #define ZMK_POINTING_DEFAULT_SCRL_VAL 20

#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/outputs.h>
#include <dt-bindings/zmk/pointing.h>

/ {
    behaviors {
        ltq: ltq {
    compatible = "zmk,behavior-hold-tap";
    label = "LTQ";
    bindings = <&mo>, <&kp>;
    #binding-cells = <2>;
    tapping-term-ms = <200>;
    quick-tap-ms = <180>;
    require-prior-idle-ms = <125>; // 快速打字时立即判定为点按
        };

       mt_home: mt_home {
            compatible = "zmk,behavior-hold-tap";
            #binding-cells = <2>;
            tapping-term-ms = <200>;
            hold-while-undecided;   // 按下即长按
            bindings = <&kp>, <&kp>;
        };
    };

    combos {
        compatible = "zmk,combos";
        combo_0 {
            timeout-ms = <50>; // 按下的时间差需在50ms内
            key-positions = <12 23 34>; // 键盘上三个键的实际位置编号
            bindings = <&kp LC(LS(ESC))>;
            layers = <0>;
        };
    };

        keymap {
                compatible = "zmk,keymap";

                layer_0 {
// -------------------------------------------------------------------------------------
// | TAB |  Q  |  W  |  E  |  R  |  T  |  Y  |  U   |  I  |  O  |  P  | BSPC |
// |    /  |  A  |  S  |  D  |  F  |  G  |  H  |  J   |  K  |  L  |    ;     |
// |   LS（ESC）   |  Z  |  X  |  C  |  V  |  B  |  N  |  M   |  ,  |  .  |   “   |
// | CTRL(HOME) | GUI | ALT(END) |        SPACE      |   ENTER(MO2) | PG_UP | MO(4) | PG_DN |
                        bindings = <
    &kp TAB    &kp Q    &kp W    &kp E    &kp R    &kp T    &kp Y    &kp U    &kp I    &kp O    &kp P    &kp BSPC
    &kp SLASH  &kp A    &kp S    &kp D    &kp F    &kp G    &kp H    &kp J    &kp K    &kp L    &kp SEMI
    &mt LSHIFT ESC  &kp Z    &kp X    &kp C    &kp V    &kp B    &kp N    &kp M    &kp COMMA  &kp DOT    &kp SQT
    &mt_home LCTRL HOME  &kp LGUI  &mt LALT END  &kp SPACE  &ltq 2 ENTER  &kp PG_UP  &mo 4  &kp PG_DN
                        >;
                };

                layer_1 {
// ------------------------------------------------------------------------------------
// |     |     |     |     |     |     |     |      |     |     |     |      |
// |  ESC  |     |     |     |     |     |     |      |     |     |          |
// |    SHIFT |     |     |     |     |     |     |      |     | UP |  TO(0) |
// |CTRL |     | ALT |               |               |  LEFT  |DOWN| RIGHT   |
                        bindings = <
&trans    &trans   &trans    &trans    &trans    &trans    &trans    &trans    &trans    &trans    &trans    &trans
    &kp ESC  &trans    &trans    &trans    &trans    &trans    &trans    &trans    &trans    &trans    &trans
    &kp LSHIFT  &trans    &trans    &trans    &trans    &trans    &trans    &trans    &trans  &kp UP    &tog 1
    &kp LCTRL  &trans  &kp LALT  &trans  &trans  &kp LEFT  &kp DOWN  &kp RIGHT
                        >;
                };

                layer_2 {
// ----------------------------------------------------------------------------
// |  `  | NONE |  7  |  8  |  9  | UP |NONE |  [   |  ]  |  -  |  =  | DEL  |
// |   CAP |NONE |  4  |  5  |  6  |DOWN| NONE | LEFT  |MO（3）| RIGHT |    \    |
// |   SHIFT |NONE |  1  |  2  |  3  |PG_UP|PG_DN| NONE |NONE |NONE | Tog（1） |
// |CTRL |     | ALT |       0       |               | NONE  | NONE| NONE    |
                        bindings = <
   &kp GRAVE  &none     &kp N7  &kp N8  &kp N9  &kp UP      &none  &kp LBKT    &kp RBKT     &kp MINUS    &kp EQUAL    &kp DEL
    &kp CAPS  &none     &kp N4  &kp N5  &kp N6  &kp DOWN      &none  &kp LEFT  &mo 3  &kp RIGHT    &kp BSLH
    &kp LSHIFT   &none     &kp N1  &kp N2  &kp N3  &kp PG_UP    &kp PG_DN  &none   &none     &none    &tog 1
    &kp LCTRL  &trans  &kp LALT  &kp N0  &trans     &none  &none   &none
                        >;
                };

                layer_3 {
// -----------------------------------------------------------------------------------------
// | USB/BT | BT1 | F7 | F8 |  F9  | F10  | NONE | NONE|  NONE| NONE | NONE |  NONE  |
// |   BT_CLR   | BT2 | F4 | F5 |  F6  |   F11   | NONE | NONE |     | NONE  |NONE  |
// |   SHIFT   |  BT3  |  F1  |  F2  | F3  | F12  |NONE | NONE | NONE  | NONE | NONE |
// |CTRL |     | ALT |       NONE        |               |  NONE | NONE | NONE |
                        bindings = <
   &out OUT_TOG  &bt BT_SEL 0  &kp F7  &kp F8  &kp F9  &kp F10      &none  &none  &none  &none  &none &none
   &bt BT_CLR   &bt BT_SEL 1  &kp F4  &kp F5  &kp F6  &kp F11      &none  &none  &trans  &none  &none
   &kp LSHIFT      &bt BT_SEL 2  &kp F1  &kp F2  &kp F3  &kp F12      &none  &none  &none  &none   &none
  &kp LCTRL  &trans  &kp LALT  &none  &trans     &none  &none  &none
                        >;
                };

                layer_4 {
// -------------------------------------------------------------------------------------
// |NONE|NONE| SCRL_UP |  R  |SCRL_DN|NONE|NONE|NONE|NONE|NONE|NONE|NONE|
// |NONE|NONE|  S  |  D  |  F  |NONE|NONE|NONE|NONE|NONE|NONE|
// |  NONE |NONE|NONE|NONE|NONE|NONE|NONE|NONE|NONE|NONE|NONE|
// | CTRL|NONE|ALT|  LCLK    |NONE|SCRL_LCLK|    |SCRL_RCLK|
                        bindings = <
    &none  &none  &msc SCRL_UP  &mmv MOVE_UP  &msc SCRL_DOWN  &none        &none  &none  &none  &none  &none  &none
    &none  &none  &mmv MOVE_LEFT  &mmv MOVE_DOWN  &mmv MOVE_RIGHT  &none        &none  &none  &none  &none  &none
    &none  &none  &none  &none  &none  &none        &none  &none  &none  &none  &none
    &kp LCTRL  &none  &kp LALT  &mkp LCLK  &none  &mkp LCLK  &trans   &mkp RCLK
                        >;
                };
        };
};
